li{
    list-style: none;
    padding: 0px 33px;
}
.search-btn{
    border-style: none;
    position: absolute;
    top:16px;
    left: 10px;
}
.element-hover:hover{
    cursor: pointer;
    font-weight: bolder;
}
.text-center{
    text-align: center;
}
.text-padding{
    padding: 0vw 40px;
}
